ofxGenericDmx_*Example/bin/ofxGenericDmx_*Example*.app
ofxGenericDmx_*Example/ofxGenericDmx_*Example.xcodeproj/project.xcworkspace/xcshareddata
ofxGenericDmx_*Example/Build
ofxGenericDmx_*Example/DerivedData
ofxGenericDmx_*Example/*.qbs.user
ofxGenericDmx_*Example/obj
ofxGenericDmx_*Example/build
